# Fundamentos de Python

## Variables y tipos de datos básicos

Una *variable* es un contenedor o espacio de almacenamiento con un nombre simbólico (o un identificador) que se utiliza para almacenar información o datos en un programa.

Veamos como crear una variable y como acceder a su valor:

In [ ]:
# Creamos un variable con 'identificador' number. Y le asignamos un valor númerico de 10
number = 10

# La función 'print' nos permite imprimir o mostrar el valor de la variable
print(number)

Las variables están categorizadas en distintos tipos:

1. Tipo de dato `int` (número entero):

In [ ]:
# Números enteros, pueden ser positivos o negativos

number1 = 15         
number2 = -10

print(number1 + number2)    # Imprimimos la suma -> 15 + (-10) = 5
print(type(number1))        # <class 'int'>
print(type(number2))        # <class 'int'>

2. Tipo de dato `float` (número real):

In [ ]:
# Números reales

number1 = -0.5
number2 = 13.6

print(number1 * number2)    # Múltiplicacion de ambos números
print(type(number1))
print(type(number2))

Operadores entre números (también es aplicable para los flotantes, intenta cambiar los valores de `number1` y `number2` con valores flotantes):

In [4]:
# Operadores entre números

number1 = 33
number2 = 4

sum = number1 + number2
difference = number1 - number2
multiplication = number1 * number2
division = number1 / number2
exact_division = number1 // number2
exponentation = number1 ** number2
resto = number1 % number2

print(resto)
print(division)
print(exact_division)
print(sum)                  # Suma
print(difference)           # Diferencia
print(multiplication)      # Multiplicación

# 33 / 4 = 8.25
print(division)             # División      (la division entre dos 'int' se convierte 'float')

# 33 // 4 = 8 (solo nos quedamos con la parte entera)
print(exact_division)       # División exacta (coeficiente)

print(exponentation)        # Exponenciación (x ^ y)

1
8.25
8
37
29
132
8.25
8
1185921

3. Tipo de dato `str` (string, cadena de caracteres):

In [9]:
# String o cadenas de caracteres

# Variable para almacenar texto. El valor, tiene que ir entre una comilla ('')
string1 = 'Mario'

# o entre dobre comilla ("")
string2 = "Mateo"


print(string1)
print(string2)
print(string1 + string2)   # La suma de strings, resulta una concatenación de ambas
print(type(string1))
print(type(string2))

Mario
Mateo
MarioMateo
<class 'str'>
<class 'str'>

In [16]:
string1 = 'Emanuel'
age = 21

print(int(string1) + age)

ValueError: invalid literal for int() with base 10: 'Emanuel'

In [ ]:
# Podemos guardar todo tipo de caracter en las variables de tipo string:

string = '!@$(*%1230?'
print(string)
print(type(string1))

In [17]:
# Las siguientes variables son del tipo string, pues los valores estan entre comillas

string_number1 = '12'
string_number2 = '15'

print(string_number1 + string_number2) # La suma resultará una concatenación entre ambas cadenas

1215

In [18]:
number = 10

# Esto nos causará un error, pues la variable number es del tipo 'int'
# y no podemos sumar una variable del tipo 'int' con una del tipo 'str'
print('El numero es: ' + number)

TypeError: can only concatenate str (not "int") to str

In [21]:
number = 10

# Podemos convertir al numero en tipo 'str' de la siguiente manera
number = str(number)
print(type(number))

# Ahora podemos concatenar el texto con el número
print('El numero es: ' + number)

<class 'str'>
El numero es: 10

In [22]:
# Una manera más simplificada:

number = 10
print('El numero es: ' + str(number)) # Esto no convierte a la variable 'number' en tipo 'str' 
                                      # pues no asignamos 'number = str(number)' como el anterior caso

print(type(number))

El numero es: 10
<class 'int'>

4. Tipo de dato `bool` (booleano):

In [25]:
# Son variables que pueden ser True (verdadero) o False (falso)

bool1 = True
bool2 = False

print(bool1)
print(bool2)
print(type(bool1))

True
False
<class 'bool'>

In [30]:
# Podemos obtener el resultado de comparaciones. Por ejemplo entre números

number = 10

bool3 = (number > 5)  
bool4 = (number < -4.5)

print(bool3)
print(bool4)
print(type(bool3))
print(type(bool4))

True
False
<class 'bool'>
<class 'bool'>

In [32]:
nombre1 = 'Mario'    # Le estoy asignando a la variable nombre1 el valor de 'Mario'
nombre2 = 'Mario'

# NOTA:
# El operador '=' es de asignación (asigna un valor a una variable)
# El operador '==' es de comparación de igualdad (compara si dos elementos son iguales)
# El operador '!=' es de comparación de diferencia (compara si dos elementos son distintos)

bool5 = (nombre1 == nombre2)
bool6 = (nombre1 != nombre2)

print(bool5)
print(bool6)
print(type(bool5))
print(type(bool6))

True
False
<class 'bool'>
<class 'bool'>

In [47]:
mensaje = float(input('Digite un numero real: '))

Digite un numero real: 12.3

In [48]:
print(type(mensaje))

<class 'float'>

In [56]:
booleano1 = False
number = 10

print(number / booleano1)

ZeroDivisionError: division by zero