In [18]:
# int => integer = entero

numero1 = 3
numero2 = 4

print(type(numero1))
print(type(numero2))

print(numero1 + numero2)
print(numero1 - numero2)
print(numero1 * numero2)
print(numero1 / numero2)
print(numero1 ** numero2)

<class 'int'>
<class 'int'>
7
-1
12
0.75
81

In [17]:
# float => flotantes

float1 = 100.12
float2 = -37.32341

print(type(float1))
print(type(float2))

print(float1 + float2)
print(float1 - float2)
print(float1 * float2)
print(float1 / float2)

<class 'float'>
<class 'float'>
62.79659
137.44341
-3736.8198092000002
-2.6824987320290403

In [33]:
# str => string : cadena de caracteres

nombre = 'Emanuel'
apellido = 'Soto'

print(type(nombre))
print(type(apellido))

print(nombre + apellido)

<class 'str'>
<class 'str'>
EmanuelSoto

In [43]:
numero = 4

print(numero * nombre)

EmanuelEmanuelEmanuelEmanuel

In [46]:
# bool => booleano 

bool1 = True
bool2 = False

print(type(bool1))
print(type(bool2))

print(bool1)
print(bool2)

<class 'bool'>
<class 'bool'>
True
False

In [52]:
bool3 = bool1 and bool2
bool4 = bool1 or bool2
bool5 = not bool1

print(bool3)
print(bool4)
print(bool5)

False
True
False

In [60]:
nombre = input('Digite un nombre: ')

Digite un nombre: Emanuel

In [61]:
print(nombre)
print(type(nombre))

Emanuel
<class 'str'>

In [68]:
edad = int(input('Digite su edad: '))

Digite su edad: 21

In [69]:
print(edad * 5)
print(type(edad))

105
<class 'int'>