# Ejercicios #

In [24]:
n = 1000000
lst = [x + 1 for x in range(n)]

In [21]:
%%time

seed = 0
for i in range(n):
    if n in lst:
        seed += 1
seed

CPU times: user 40.5 s, sys: 259 ms, total: 40.8 s
Wall time: 42.6 s

100000

In [22]:
sst = set(lst)
type(sst)

set

In [25]:
%%time

seed = 0
for i in range(n):
    if n in sst:
        seed += 1
seed

CPU times: user 46.5 ms, sys: 1.63 ms, total: 48.1 ms
Wall time: 47.7 ms

0

In [31]:
ages = set([10, 20, 90, 90, 50])
ages

{10, 20, 50, 90}

In [33]:
ages = set()
ages

set()

In [32]:
ages = {1, 3, 56, 78}
ages

{1, 3, 56, 78}

In [34]:
ages_names = {}
type(ages_names)

dict

In [41]:
ages_names = {'David': 28, 'Erick': 29, 'Christian': 30}
ages_names

{'David': 28, 'Erick': 29, 'Christian': 30}

In [37]:
dir(ages_names)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [39]:
ages_names.clear()

In [42]:
ages_names

{'David': 28, 'Erick': 29, 'Christian': 30}

In [48]:
for value in ages_names.values():
    print(value)

28
29
30

In [49]:
for value in ages_names.keys():
    print(value)

David
Erick
Christian

In [51]:
for key, value in ages_names.items():
    print(key, value)

David 28
Erick 29
Christian 30

In [52]:
ages_names['Erick']

29

In [56]:
ages_names.get('David')

28

In [54]:
scientists = {"Alan", "Albert", "Nikola", "Ada"}
scientists

{'Ada', 'Alan', 'Albert', 'Nikola'}

In [55]:
scientists[0]

TypeError: 'set' object is not subscriptable

In [57]:
dir(scientists)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [63]:
scientists.add("Donald")

In [64]:
scientists

{'Ada', 'Alan', 'Albert', 'Donald', 'Nikola'}

In [62]:
lst = [2, 3, 4]
lst.append(5)
lst

[2, 3, 4, 5]

## 1. Frecuencia ##

Dada una lista de pares que representan tipos y medidas de altura de plantas, el profesor de botánica Dr. Pierre Curie te pide de favor que listes todos los tipos de plantas y la suma de alturas por cada tipo.

**Ejemplo:**

Entrada:

    [("Rosa", 25.5), ("Violeta", 14.2), ("rosa", 10.4)]

Salida:

    Rosa 35.9
    Violeta 14.2

In [80]:
lst = [("Rosa", 25.5), ("Violeta", 14.2), ("rosa", 10.4), ("vioLeta", 15.9)]

d = {}
for name, size in lst:
    name = name.capitalize()
    if name in d:
        d[name] += size
    else:
        d[name] = size

d

{'Rosa': 35.9, 'Violeta': 30.1}

## 2. Cuenta de visitas a subdominios ##

Un dominio web como "group11.area51.com" consiste de varios subdominios. En el nivel más alto, tenemos "com", en el siguiente nivel tenemos "area51.com", y en el nivel más bajo, "group11.area51.com". Cuando visitamos un dominio como "group11.area51.com", también visitamos los dominios padres "area51.com" y "com" implicitamente.

Bien, llamamos un "cuenta-visita dominio" a un valor (representando el número de visitas que un dominio ha recibido), seguido por una dirección web. Un ejemplo podría ser "9001 group11.area51.com".

Nos dan una lista de "cuenta-visita dominio". Nos gustaría imprimir los "cuenta-visita dominio", (en el mismo formato que la entrada), que explicitamente cuente el número de visitas a cada subdominio.

**Ejemplo:**

Entrada:

    ["9001 group11.area51.com", "10000 area51.com"]

Salida:

    ["9001 group11.area51.com", "19001 area51.com", "19001 com"]

## 3. Piedras y joyas ##

Dada una cadena `J` representando los tipos de piedras que son joyas, y `P` representando las piedras que tienes. Cada caracter en `P` es un tipo de piedra que tienes. Quieres conocer cuantas de tus piedras son también joyas.

Las letras en `J` siempre serán distintas, y todos los caracteres `J` y `P` son letras. Las letras son *case sensitive*, es decir "a" es condiderada un distinto tipo de piedra que "A".

**Ejemplo:**

>Entrada: P = "aA", J = "aAAbbbb"
>
>Salida: 3

## 4. Contiene duplicados ##

Dada una lista de enteros, determinar si la lista contiene algún elemento duplicado. Tu solución debe retornar `True` si algún valor aparece al menos dos veces en la lista, y `False` en caso contrario.

**Ejemplo:**

> Entrada: [1,2,3,1]
>
> Salida: True