# M√≥dulo 2: DataFrame - Colecci√≥n de Series

## üéØ Objetivos de Aprendizaje

- Comprender DataFrame como composici√≥n de objetos Series
- Entender la relaci√≥n de agregaci√≥n entre DataFrame y Series  
- Explorar constructores y atributos de DataFrame
- Dominar m√©todos de acceso bidimensional (loc, iloc)
- Aplicar conceptos de POO: composici√≥n y agregaci√≥n

In [1]:
import pandas as pd
import numpy as np

# Ejecutar todo el m√≥dulo
%run modulo_2_dataframe.py

======================================================================
M√ìDULO 2: DATAFRAME - COLECCI√ìN DE SERIES
======================================================================
======================================================================
ANATOM√çA COMPLETA DEL DATAFRAME
======================================================================

1. IDENTIDAD DEL OBJETO:
   Tipo: <class 'pandas.core.frame.DataFrame'>
   Clase: DataFrame
   ID en memoria: 4643953296

2. ATRIBUTOS DE DATOS:
   values (array 2D):
[['Ana' 25 'Madrid']
 ['Luis' 30 'Barcelona']
 ['Mar√≠a' 28 'Valencia']]

   index (filas): RangeIndex(start=0, stop=3, step=1)
   columns (columnas): Index(['nombre', 'edad', 'ciudad'], dtype='object')
   dtypes:
nombre    object
edad       int64
ciudad    object
dtype: object

3. ATRIBUTOS DE FORMA:
   shape: (3, 3)
   size: 9
   ndim: 2
   empty: False

4. COMPOSICI√ìN (columnas como Series):
   N√∫mero de columnas: 3
   - 'nombre': tipo=Series, dtype=object
   - 'edad': tipo=Series, dtype=int64
   - 'ciudad': tipo=Series, dtype=object

======================================================================
COMPOSICI√ìN: DataFrame contiene Series
======================================================================

DataFrame completo:
   nombre  edad  salario     ciudad
0     Ana    25    30000     Madrid
1    Luis    30    45000  Barcelona
2   Mar√≠a    28    38000   Valencia
3  Carlos    35    52000    Sevilla

Tipo: <class 'pandas.core.frame.DataFrame'>

----------------------------------------------------------------------
Accediendo a columna 'edad':
Tipo: <class 'pandas.core.series.Series'>
Es una Series: True
Contenido:
0    25
1    30
2    28
3    35
Name: edad, dtype: int64

M√©todos de Series disponibles:
  mean(): 29.5
  max(): 35
  min(): 25

----------------------------------------------------------------------
Verificando que todas las columnas son Series:
  nombre: True
  edad: True
  salario: True
  ciudad: True

======================================================================
CONSTRUCTORES: Diferentes formas de crear DataFrame
======================================================================

1. Desde diccionario de listas:
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

2. Desde lista de diccionarios:
  nombre  edad
0    Ana    25
1   Luis    30
2  Mar√≠a    28

3. Desde diccionario de Series:
   ventas  costos
0     100      50
1     200      80
2     300     120

4. Desde array de NumPy:
              A         B         C         D
fila1  2.121568  0.147154 -1.151266  0.167151
fila2 -0.362657 -0.082068  0.713732  0.375783
fila3  0.999883  0.803299  0.490857  1.555068

5. Desde otro DataFrame (copia):
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
¬øEs el mismo objeto? False
¬øTienen mismos valores? True

======================================================================
ATRIBUTOS PRINCIPALES DE DATAFRAME
======================================================================

DataFrame:
   producto  precio  stock
P1        A   10.50    100
P2        B   20.00     50
P3        C   15.75     75
P4        D   30.25     25

üìä ATRIBUTOS DE DATOS:
values (array 2D):
[['A' 10.5 100]
 ['B' 20.0 50]
 ['C' 15.75 75]
 ['D' 30.25 25]]
values.dtype: object

üè∑Ô∏è  ATRIBUTOS DE √çNDICES:
index: Index(['P1', 'P2', 'P3', 'P4'], dtype='object')
index.name: None
columns: Index(['producto', 'precio', 'stock'], dtype='object')
columns.name: None
axes: [Index(['P1', 'P2', 'P3', 'P4'], dtype='object'), Index(['producto', 'precio', 'stock'], dtype='object')]

üìè ATRIBUTOS DE FORMA:
shape: (4, 3)
size: 12
ndim: 2
empty: False

üî§ ATRIBUTOS DE TIPOS:
dtypes:
producto     object
precio      float64
stock         int64
dtype: object

======================================================================
M√âTODOS DE ACCESO A DATOS
======================================================================
DataFrame original:
       A  B   C
fila1  1  5   9
fila2  2  6  10
fila3  3  7  11
fila4  4  8  12

1. ACCESO A COLUMNAS:
df['A'] (retorna Series):
fila1    1
fila2    2
fila3    3
fila4    4
Name: A, dtype: int64

df[['A', 'C']] (retorna DataFrame):
       A   C
fila1  1   9
fila2  2  10
fila3  3  11
fila4  4  12

2. ACCESO CON loc (por etiqueta):
df.loc['fila1'] (retorna Series):
A    1
B    5
C    9
Name: fila1, dtype: int64

df.loc['fila1', 'A']: 1

df.loc['fila1':'fila3', 'A':'B']:
       A  B
fila1  1  5
fila2  2  6
fila3  3  7

3. ACCESO CON iloc (por posici√≥n):
df.iloc[0] (retorna Series):
A    1
B    5
C    9
Name: fila1, dtype: int64

df.iloc[0, 0]: 1

df.iloc[0:2, 0:2]:
       A  B
fila1  1  5
fila2  2  6

4. ACCESO CON at/iat (valores √∫nicos):
df.at['fila1', 'A']: 1
df.iat[0, 0]: 1

======================================================================
M√âTODOS DE AGREGACI√ìN
======================================================================
DataFrame:
    ventas  costos  ganancia
Q1     100      50        50
Q2     200      80       120
Q3     150      60        90
Q4     300     120       180

1. Agregaci√≥n por COLUMNAS (axis=0, default):
sum():
ventas      750
costos      310
ganancia    440
dtype: int64

mean():
ventas      187.5
costos       77.5
ganancia    110.0
dtype: float64

2. Agregaci√≥n por FILAS (axis=1):
sum(axis=1):
Q1    200
Q2    400
Q3    300
Q4    600
dtype: int64

mean(axis=1):
Q1     66.666667
Q2    133.333333
Q3    100.000000
Q4    200.000000
dtype: float64

3. Describe (resumen estad√≠stico):
           ventas      costos    ganancia
count    4.000000    4.000000    4.000000
mean   187.500000   77.500000  110.000000
std     85.391256   30.956959   54.772256
min    100.000000   50.000000   50.000000
25%    137.500000   57.500000   80.000000
50%    175.000000   70.000000  105.000000
75%    225.000000   90.000000  135.000000
max    300.000000  120.000000  180.000000

======================================================================
RELACI√ìN SERIES ‚Üî DATAFRAME
======================================================================

1. DataFrame ‚Üí Series (acceso a columna):
DataFrame:
   A  B
0  1  4
1  2  5
2  3  6

Columna 'A' (Series):
0    1
1    2
2    3
Name: A, dtype: int64

2. Series ‚Üí DataFrame (to_frame()):
DataFrame desde Series:
   A
0  1
1  2
2  3
Tipo: <class 'pandas.core.frame.DataFrame'>

3. M√∫ltiples Series ‚Üí DataFrame:
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9